
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>amCharts examples</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="../amcharts/amcharts.js" type="text/javascript"></script>
        <script type="text/vbscript">


        </script>
        <script type="text/javascript">



       var pchart;
           var pchartData=[{
            Type:"Quote",
            Count:2
            },{
            Type:"Policy",
            Count:2
            },{
            Type:"Endosement",
            Count:2
            },{
            Type:"Calcellation",
            Count:2
            },{
            Type:"Validation",
            Count:2
            }];


                AmCharts.ready(function () {
                // PIE CHART
                pchart = new AmCharts.AmPieChart();

                // title of the chart
                pchart.addTitle("Pass Status", 10);

                pchart.dataProvider = pchartData;
                pchart.titleField = "Type";
                pchart.valueField = "Count";
                pchart.sequencedAnimation = true;
                pchart.startEffect = "elastic";
                pchart.innerRadius = "30%";
                pchart.startDuration = 2;
                pchart.labelRadius = 15;

                // the following two lines makes the chart 3D
                pchart.depth3D = 10;
                pchart.angle = 15;

                // WRITE
                pchart.write("pchartdiv");
            });



var fchart;
           var fchartData=[{
            Type:"Quote",
            Count:1
            },{
            Type:"Policy",
            Count:1
            },{
            Type:"Endosement",
            Count:1
            },{
            Type:"Calcellation",
            Count:1
            },{
            Type:"Validation",
            Count:1
            }];


                AmCharts.ready(function () {
                // PIE CHART
                fchart = new AmCharts.AmPieChart();

                // title of the chart
                fchart.addTitle("Fail Status", 10);

                fchart.dataProvider = fchartData;
                fchart.titleField = "Type";
                fchart.valueField = "Count";
                fchart.sequencedAnimation = true;
                fchart.startEffect = "elastic";
                fchart.innerRadius = "30%";
                fchart.startDuration = 2;
                fchart.labelRadius = 15;

                // the following two lines makes the chart 3D
                fchart.depth3D = 10;
                fchart.angle = 15;

                // WRITE
                fchart.write("fchartdiv");
            });



        var pbarchart;

            var pbarchartData = [{
                TestCase: "Quote Pass",
                Status: 20,
                color: " #04D215"
            }, {
                TestCase: "Quote Fail",
                Status: 10,
                color: "#FF0F00"
            }, {
                TestCase: "Policy Pass",
                Status: 20,
                color: " #04D215"
            }, {
                TestCase: "Policy Fail",
                Status: 10,
                color: "#FF0F00"
            },{
                TestCase: "Endosement Pass",
                Status: 20,
                color: " #04D215"
            }, {
                TestCase: "Endosement Fail",
                Status: 10,
                color: "#FF0F00"
            },{
                TestCase: "Validation Pass",
                Status: 20,
                color: " #04D215"
            }, {
                TestCase: "Validation Fail",
                Status: 10,
                color: "#FF0F00"
            },{
                TestCase: "Cancellation Pass",
                Status: 20,
                color: " #04D215"
            }, {
                TestCase: "Cancellation Fail",
                Status: 10,
                color: "#FF0F00"
            }
            ];


            AmCharts.ready(function () {
                // SERIAL CHART
                pbarchart = new AmCharts.AmSerialChart();
                pbarchart.dataProvider = pbarchartData;
                pbarchart.categoryField = "TestCase";
                // the following two lines makes chart 3D
                pbarchart.depth3D = 20;
                pbarchart.angle = 30;




                // AXES
                // category
                var categoryAxis = pbarchart.categoryAxis;
                categoryAxis.labelRotation = 45;
                categoryAxis.dashLength = 5;
                categoryAxis.gridPosition = "start";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.title = "Status";
                valueAxis.dashLength = 50;
                pbarchart.addValueAxis(valueAxis);



                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "Status";
                graph.colorField = "color";
                graph.balloonText = "[[category]]: [[value]]";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                pbarchart.addGraph(graph);

                // WRITE
                pbarchart.write("pbarchartdiv");
            });

            function func1()
            {

            pbarchart.write("fchartdiv");
            pbarchart.validateNow();


}

















        </script>
    </head>

    <body>
    <table>
           <tr>
               <td ><center><div id="pbarchartdiv" style="width:500px; height:500px;"></center></div></td>
          <tr>
                   <table border=2 >
                      <tr><td width=30>Pass</td><td width=30>Fail</td></tr>
                      <tr><td width=30>10</td><td width=30>5</td></tr>
                   </table>
         </tr>
         </tr>

         <tr>
	             <td><div id="pchartdiv" style="width:500px; height:500px;"></div></td>
	             <td><div id="fchartdiv" style="width:500px; height:500px;"></div></td>
	     </tr>
	     <tr>
			     <td>
				        <table border=2>
			     	        <tr><td width=30>Quote</td><td width=30>Policy</td><td width=30>Endosement</td><td width=30>Cancellation</td><td width=30>Validation</td></tr>
			   	            <tr><td width=30><center>2</center></td><td width=30><center>2</center></td><td width=30><center>2</center></td><td width=30><center>2</center></td><td width=30><center>2</center></td></tr>
				        </table>
				</td>
				<td>
				        <table border=2 id="chtab">
					        <tr><td width=30>Quote</td><td width=30>Policy</td><td width=30>Endosement</td><td width=30>Cancellation</td><td width=30>Validation</td></tr>
     				        <tr><td width=30><center>1</center></td><td width=30><center>1</center></td><td width=30><center>1</center></td><td width=30><center>1</center></td><td width=30><center>1</center></td></tr>
				        </table>
			   </td>
	    </tr>

    <table>
    <input type="submit" value="click" onclick="func1()"></input>
    </body>

</html>
